.calendarTable {
    width: 80%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    font-size: 19px;          
}

.calendarMainTable {
    width: 80%;
    height: 700px;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;        
}

.calendarTable .calendarTbody .calendarTr .calendarMainTable {
    border-top: 0.5px solid #c4c9d0;    
}

.calendarTable .calendarTh .calendarTd .calendarMainTd .calendarMainTable {
    vertical-align: top;
}

.calendarTable .calendarTbody .calendarTr .calendarTd .calendarMainTd .calendarMainTable  {
    margin-left: 20px;    
}

.calendarTable .calendarTbody .calendarTd .calendarMainTd .calendarMainTable {
    width: 10%;
    height: 10%;
    overflow:hidden;
    white-space : nowrap;
    text-overflow: ellipsis;
}


.calendarTable .calendarTbody .calendarTd .calendarMainTd .calendarDiv .calendarMainTable {
    height: 100%;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    overflow: auto;
}
.calendarMainTd:first-child, .calendarMainTd:last-child {
    color: red;
}


.calendarDiv::-webkit-scrollbar {    
    width: 10px;
}
.calendarDiv::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.calendarDiv::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.calendarTable .calendarTbody .calendarTd:hover{
    font-weight: bold;
}

.calendarLi {
    list-style: none;
}

.diff {
    color:rgba(0, 0, 0, 0.3 ) !important;
}

.regionTd {
    width: 100px;    
    vertical-align: top;
}

/* 기본user agent stylesheet세팅이 vertical-align: middle; 로 되어있어서 classname 선언하지 않고 전체적용  */
tbody {
    vertical-align: top;
}

.calendarDiv {
    position: 'absolute';
    font-size: 13px;    
}

.div {
    font-size: 20px;    
}

.pagination {
    text-align: center;
}